### 1 Importar bibliotecas

In [1]:
import pandas as pd
from hdbcli import dbapi
import datetime
import time
import time ; from datetime import date, timedelta #biblioteca para trabalhar com tempo, datas...
import os
import warnings
warnings.filterwarnings('ignore')

### 2 Configurações

In [2]:
usuario_hana = "CLB344173"
senha_hana =

### 3 Coletar dados SAP HANA base geração/seleção

In [3]:

connection_hana = dbapi.connect(address='BRNEO695',port='30015',user=usuario_hana,password=senha_hana,databasename='BNP',sslValidateCertificate=False)
sqll = """
SELECT DISTINCT 
	ZCGUTD AS UTD,
	ZONA, 
	TURMA,
	CARTEIRA,
	COUNT(ZCGACCOUN) AS NOTAS_ESPERADAS_ATENA, 
	COUNT(NOTA) AS NOTAS_GERADAS_TAB4,
	DATA_PEDIDO,
	DAYOFWEEK(DATA_PEDIDO) AS DIA_SEMANA,
	CASE 
		WHEN DAYOFWEEK(DATA_PEDIDO) = 5 THEN ADD_DAYS(DATA_PEDIDO, 4) 
		WHEN DAYOFWEEK(DATA_PEDIDO) = 6 THEN ADD_DAYS(DATA_PEDIDO, 4)  
		ELSE ADD_DAYS(DATA_PEDIDO, 2) END AS DATA_ESPERADO_EXECUCAO,
	FLAG_DEF
		
	
FROM (
SELECT ZCGIDZONA AS ZONA,AH.ZCGACCOUN, ZCGUTD, ZCGMTVCOB, 
CASE 
	WHEN CARTEIRA IN ('TOP_STC') THEN 'PROPRIA' ELSE CARTEIRA END AS CARTEIRA,
DATA_PEDIDO, 
CASE 
	WHEN CARTEIRA IN ('TOP_STC','PROPRIA') THEN 'STC' 
	WHEN CARTEIRA IN ('BAIXA MIX','CONVENCIONAL','DISJ MIX','DISJUNTOR','RECORTE','TOP5') THEN 'EPS'
	WHEN CARTEIRA IN ('PRONTIDAO') THEN 'PRONTIDAO'
END AS TURMA, 
NOTA,TAB004.ZCGTPNOTA,FLAG_DEF
FROM CLB142840.CLUSTER_HIST AH
LEFT JOIN (SELECT TAB004.ZCGQMNUM AS NOTA,
	TAB004.ZCGDTCRIA AS ZCGDTCRIA,
	TAB004.ZCGINSTAL AS INSTALACAO,
	TAB004.ZCGPEDIDO AS PEDIDO,
	TAB004.ZCGACCOUN,
	TAB004.ZCGTPNOTA
FROM CLB_CCS_ICC.ZCT_DS_TAB004 TAB004) TAB004
ON TAB004.ZCGACCOUN = AH.ZCGACCOUN AND 
(ZCGDTCRIA = ADD_DAYS(DATA_PEDIDO, 0) OR ZCGDTCRIA = ADD_DAYS(DATA_PEDIDO, 1) )

WHERE AH.DATA_PEDIDO >= '2022-07-12' 
--AND FLAG_DEF = 'N'
AND CARTEIRA <> 'PRONTIDAO'

AND (DAYOFWEEK(AH.DATA_PEDIDO) = 2 OR DAYOFWEEK(AH.DATA_PEDIDO) = 3 OR DAYOFWEEK(AH.DATA_PEDIDO) = 4 OR DAYOFWEEK(AH.DATA_PEDIDO) = 5)



--SEXTA
UNION 
SELECT ZCGIDZONA AS ZONA,AH.ZCGACCOUN, ZCGUTD, ZCGMTVCOB, 
CASE 
	WHEN CARTEIRA IN ('TOP_STC') THEN 'PROPRIA' ELSE CARTEIRA END AS CARTEIRA,
 
DATA_PEDIDO,

CASE 
	WHEN CARTEIRA IN ('TOP_STC','PROPRIA') THEN 'STC' 
	WHEN CARTEIRA IN ('BAIXA MIX','CONVENCIONAL','DISJ MIX','DISJUNTOR','RECORTE','TOP5') THEN 'EPS'
	WHEN CARTEIRA IN ('PRONTIDAO') THEN 'PRONTIDAO'
END AS TURMA, 
NOTA,TAB004.ZCGTPNOTA,FLAG_DEF
FROM CLB142840.CLUSTER_HIST AH
LEFT JOIN (SELECT TAB004.ZCGQMNUM AS NOTA,
	TAB004.ZCGDTCRIA AS ZCGDTCRIA,
	TAB004.ZCGINSTAL AS INSTALACAO,
	TAB004.ZCGPEDIDO AS PEDIDO,
	TAB004.ZCGACCOUN,
	TAB004.ZCGTPNOTA
FROM CLB_CCS_ICC.ZCT_DS_TAB004 TAB004) TAB004
ON TAB004.ZCGACCOUN = AH.ZCGACCOUN AND 
(ZCGDTCRIA = ADD_DAYS(DATA_PEDIDO, 1) OR ZCGDTCRIA = ADD_DAYS(DATA_PEDIDO, 2)  OR ZCGDTCRIA = ADD_DAYS(DATA_PEDIDO, 3) )
--OR  ZCGDTCRIA = ADD_DAYS(DATA_PEDIDO, 2) OR  ZCGDTCRIA = ADD_DAYS(DATA_PEDIDO, 3)

WHERE AH.DATA_PEDIDO >= '2022-07-12' 
AND CARTEIRA <> 'PRONTIDAO'
--AND FLAG_DEF = 'N'
AND (DAYOFWEEK(AH.DATA_PEDIDO) = 6 )

)

--LEFT JOIN (SELECT DISTINCT CAST (ZONA AS INTEGER) AS ZONA_MAPA, CARTEIRA AS CARTEIRA_MAPA, TURMA AS TURMA_MAPA, QTD_MAX, QTD_MIN, QTD_CLUSTERS, DATA_MAPA AS DATA_PEDIDO_MAPA_SELECAO, QTD_CLUSTERS_FINAL 
--FROM CLB344173.MAPA_CLUSTERS_HISTORICO
--) HISTORICO_MAPA_SELECAO 
--ON ZONA_MAPA = ZONA AND CARTEIRA_MAPA = CARTEIRA AND TURMA = TURMA_MAPA AND DATA_PEDIDO = DATA_PEDIDO_MAPA_SELECAO


GROUP BY ZCGUTD,DATA_PEDIDO, TURMA, CARTEIRA,ZONA,FLAG_DEF


            """
base_selecao = pd.read_sql(sqll,connection_hana)
base_selecao.to_csv('base_selecao.csv',index=False,sep=';',decimal=',')

### 4 Coletar dados SAP HANA esperado do mapa de seleção VS inserido no atena_hist

In [4]:
sql2 = """


SELECT DISTINCT 
	UTD,
	ZONA, 
	TURMA,
	CARTEIRA,
	COUNT(ZCGACCOUN) AS NOTAS_ESPERADAS_ATENA, 
	DATA_PEDIDO,
	FLAG_DEF,
	NULL AS NOTAS_ESPERADAS_MAPA
FROM (
SELECT ZCGIDZONA AS ZONA,AH.ZCGACCOUN, ZCGUTD AS UTD, 
CASE 
	WHEN CARTEIRA IN ('TOP_STC') THEN 'PROPRIA' ELSE CARTEIRA END AS CARTEIRA,
DATA_PEDIDO , 
CASE 
	WHEN CARTEIRA IN ('TOP_STC','PROPRIA') THEN 'STC' 
	WHEN CARTEIRA IN ('BAIXA MIX','CONVENCIONAL','DISJ MIX','DISJUNTOR','RECORTE','TOP5') THEN 'EPS'
	WHEN CARTEIRA IN ('PRONTIDAO') THEN 'PRONTIDAO'
END AS TURMA,
FLAG_DEF
FROM CLB142840.CLUSTER_HIST AH
WHERE AH.DATA_PEDIDO >= '2022-07-28' 
--AND FLAG_DEF = 'N'
AND CARTEIRA <> 'PRONTIDAO'
)
GROUP BY UTD,DATA_PEDIDO, TURMA, CARTEIRA,ZONA,FLAG_DEF

UNION 

SELECT DISTINCT 
	UTD,
	CAST (ZONA AS INTEGER) AS ZONA, 
	TURMA, 
	CASE 
		WHEN CARTEIRA IN ('CONVENCIONAL','RECORTE') AND TURMA IN ('STC') THEN 'PROPRIA' 
		WHEN CARTEIRA IN ('BAIXA MIX','CONVENCIONAL','DISJ MIX','DISJUNTOR','RECORTE','TOP5') AND TURMA IN ('EPS') THEN CARTEIRA
	END AS CARTEIRA, 
	NULL AS NOTAS_ESPERADAS_ATENA,
	DATA_INSERCAO AS DATA_PEDIDO,
	'N' AS  FLAG_DEF,
	CLUSTERS * QTD_MAX  AS NOTAS_ESPERADAS_MAPA
FROM CLB344173.MAPA_SELECAO
WHERE ZONA LIKE ('%0%') OR ZONA LIKE ('%1%') OR ZONA LIKE ('%2%') OR ZONA LIKE ('%3%') OR ZONA LIKE ('%4%')


            """
base_mapa_atena = pd.read_sql(sql2,connection_hana)
#base_pecld_mun.to_csv('consulta_hemera.csv',index=False,sep=';',decimal=',')
#usuario = 'u344173'

base_mapa_atena.to_csv('base_mapa_atena.csv',index=False,sep=';',decimal=',')